# Chapter 2

# 2.2.5. Type conversion

Implicit type conversion

Adding an integer to a floating-point number

In [1]:
print(5 + 3.2)  # int + float returns float

8.2

Combining a string with a number using print

In [2]:
print("The value is " + 42)

TypeError: can only concatenate str (not "int") to str

In [3]:
print("The value is", 42)

The value is 42

Explicit type conversion

Converting a float to an integer

In [4]:
int(5.7)

5

Converting an integer to a string

In [5]:
str(100)

'100'