# Chapter 2

# 2.2.14. Complex data types - Methods to modify sets

Adding an element to the set

In [1]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('mango')  # Adds 'mango' to the set
print("After add:", fruits)

After add: {'cherry', 'banana', 'mango', 'apple'}

Removing an element from the set

In [2]:
fruits = {'apple', 'banana', 'cherry'}
fruits.remove('banana')  # Removes 'banana' from the set
print("After remove:", fruits)

After remove: {'cherry', 'apple'}

Attempt to remove an item which is not in the set

In [3]:
fruits = {'apple', 'banana', 'cherry'}
try:
    fruits.remove('mango')  # Attempt to remove 'mango', which is not in the set
except KeyError as e:
    print(f"Error: {e}")

Error: 'mango'

Removing an element from the set using discard()

In [4]:
fruits = {'apple', 'banana', 'cherry'}
fruits.discard('banana')  # Successfully removes 'banana'
print("After discard:", fruits)

After discard: {'cherry', 'apple'}

In [5]:
fruits = {'apple', 'banana', 'cherry'}
fruits.discard('mango')  
# Does nothing and no error is raised, even though 'mango' is not in the set
print("After discard:", fruits)

After discard: {'cherry', 'banana', 'apple'}

Removing an element from the set using pop()

In [6]:
fruits = {'apple', 'banana', 'cherry'}
element = fruits.pop()  # Removes and returns a random element from the set
print('Element:', element)
print('Set:', fruits)

Element: cherry
Set: {'banana', 'apple'}

Clearing the set

In [7]:
fruits = {'apple', 'banana', 'cherry'}
fruits.clear()  # Removes all elements, resulting in an empty set
print("After clear:", fruits)

After clear: set()

Update a set using another set

In [8]:
fruits = {'apple', 'banana'}
fruits.update({'banana', 'orange', 'grape'})  # Duplicate 'banana' is ignored
print(fruits)

{'banana', 'grape', 'orange', 'apple'}

Equivalent to

In [9]:
fruits = {'apple', 'banana'}
fruits |= {'banana', 'orange', 'grape'}
print(fruits)

{'banana', 'grape', 'orange', 'apple'}

Update a set using a list

In [10]:
fruits = {'apple', 'banana'}
fruits.update(['banana', 'orange', 'grape'])  # Duplicate 'banana' is ignored
print(fruits)

{'grape', 'banana', 'orange', 'apple'}

intersection_update a set using another set

In [11]:
fruits = {'apple', 'banana'}
fruits.intersection_update({'banana', 'orange', 'grape'})
print(fruits)

{'banana'}

Equivalent to &=

In [12]:
fruits = {'apple', 'banana'}
fruits &= {'banana', 'orange', 'grape'}
print(fruits)

{'banana'}

Update a set using a list

In [13]:
fruits = {'apple', 'banana'}
fruits.intersection_update(['banana', 'orange', 'grape'])
print(fruits)

{'banana'}

Attempting to use &= with a list

In [14]:
fruits = {'apple', 'banana'}
try:
    fruits &= ['banana', 'orange', 'grape']
except TypeError as e:
    print("Error:", e)

Error: unsupported operand type(s) for &=: 'set' and 'list'

Using difference_update with another set

In [15]:
fruits = {'apple', 'banana'}
fruits.difference_update({'banana'})
print(fruits)

{'apple'}

Using difference_update with a list

In [16]:
fruits = {'apple', 'banana'}
fruits.difference_update(['banana'])
print(fruits)

{'apple'}

Correct use of -= with a set

In [17]:
fruits = {'apple', 'banana'}
fruits -= {'banana'}
print(fruits)

{'apple'}

Creating and accessing a dictionary

In [18]:
bio_data = {'name': 'John Doe', 'age': 30, 'occupation': 'Biologist'}
# Accessing dictionary values
print("Name:", bio_data['name'])
print("Age:", bio_data.get('age'))  # Using get() for safe access

Name: John Doe
Age: 30

Using symmetric_difference_update() with a set

In [19]:
fruits = {'apple', 'banana', 'cherry'}  # Define the original set
# Update the set using symmetric_difference_update with another set
fruits.symmetric_difference_update({'banana', 'orange', 'apple'})
print(fruits)

{'cherry', 'orange'}

Equivalent operation using ^= operator

In [20]:
fruits = {'apple', 'banana', 'cherry'} # Reset fruits set
# Using ^= operator with another set
fruits ^= {'banana', 'orange', 'apple'}
print(fruits)

{'cherry', 'orange'}

Using symmetric_difference_update() with a list

In [21]:
fruits = {'apple', 'banana', 'cherry'} # Reset fruits set
# Update using a list
fruits.symmetric_difference_update(['banana', 'orange'])
print(fruits)

{'cherry', 'orange', 'apple'}